QW_HOSTNAME=QuakeWorld FFA
QW_PORT=27500
QW_MAXCLIENTS=16
QW_MAXSPECTATORS=8
QW_TIMELIMIT=10
QW_FRAGLIMIT=50
QW_COUNTRYCODE=SE
QW_CITY=Stockholm
QW_COORDS=59.3327,18.0656
QW_ADMININFO=admin@example.com
